.p-dashboard {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.p-dashboard__buttons {
  display: flex;
  flex-direction: column;
  flex: 1;

  .square-button {
    flex: 1;
    height: auto;
  }
}

.p-dashboard__button--getready { background: var(--color-primary-dark); }
.p-dashboard__button--schedule { background: var(--color-primary); }
.p-dashboard__button--ticket   { background: var(--color-primary-secondary); }
.p-dashboard__button--other    { background: var(--color-primary-light); }
