.p-dashboard {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.p-dashboard__buttons {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.p-dashboard__button--getready { background: var(--color-primary-dark); }
.p-dashboard__button--schedule { background: var(--color-primary); }
.p-dashboard__button--ticket   { background: var(--color-primary-secondary); }
.p-dashboard__button--other    { background: var(--color-primary-light); }
