@use "../../foundation/base" as *;

.p-password-submit {
  width: min(90vw, 400px);
  min-height: 200px;

  background: var(--color-primary);
//   border: 10px solid var(--color-primary);
  // border-radius: 12px;
  padding: 16px;
  box-sizing: border-box;

  /* 画面中央配置 */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
