.p-password-label {
  font-family: Inter, sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #000;
  margin: 0 0 20px;
}

.p-password-input {
  width: 340px;
  height: 100px;
  background: #FFF2FE;
  border: 3px solid #FF4EED;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  align-items: center;

  input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    padding: 0 16px;
    font-size: 28px;
    box-sizing: border-box;
    text-align: center;
  }
}

.p-password-submit {
  width: 210px;
  height: 60px;
  background: #FF4EED;
  margin: 24px auto 0;

  button {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    color: #fff;
    font-family: Inter, sans-serif;
    font-size: 34px;
    font-weight: 400;
    cursor: pointer;
  }
}
